*.txt filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.pl filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.conv filter=lfs diff=lfs merge=lfs -text
*.conf filter=lfs diff=lfs merge=lfs -text
/conf/magic filter=lfs diff=lfs merge=lfs -text
*.types filter=lfs diff=lfs merge=lfs -text
*.cnf filter=lfs diff=lfs merge=lfs -text
*.var filter=lfs diff=lfs merge=lfs -text
/error/README filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.php filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.tcl filter=lfs diff=lfs merge=lfs -text
*.fa filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.phr filter=lfs diff=lfs merge=lfs -text
*.pin filter=lfs diff=lfs merge=lfs -text
*.pot filter=lfs diff=lfs merge=lfs -text
*.psq filter=lfs diff=lfs merge=lfs -text
*.ptf filter=lfs diff=lfs merge=lfs -text
*.pto filter=lfs diff=lfs merge=lfs -text
*.ent filter=lfs diff=lfs merge=lfs -text
/icons/README filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.exp filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.pid filter=lfs diff=lfs merge=lfs -text
htdocs/PDB_Database/* -filter=lfs -diff=lfs -merge=lfs -text
